{% extends 'base.html' %}

{% block title %}Video List - MusicVideoHub{% endblock %}

{% block content %}
    <section class="page-header">
        <h1 class="animated-text">Video Collection</h1>
    </section>
    <section class="music-list">
        {% for video in videos %}
            <a class="music-item glass-effect" href="{% url 'videos:video-detail' video.id %}">
                    <img src="{{ video.image.url }}" alt="{{ video.title }}">
                    <div class="music-info">
                        <h3>{{ video.title }}</h3>
                    </div>
            </a>
        {% empty %}
            <h3>Coming Soon</h3>
        {% endfor %}
    </section>

{% endblock %}