{% extends 'base.html' %}

{% block title %}Team{% endblock %}

{% block content %}
    <section class="page-header">
        <h1 class="animated-text">Team</h1>
    </section>
    <section class="music-list">
        {% for character in characters %}
            <div class="music-item glass-effect">
                    <img src="{{ character.image.url }}" alt="{{ character.name }}">
                    <div class="music-info">
                        <h3>{{ character.name }}</h3>
                    </div>
            </div>
        {% empty %}
            <h3>No persons</h3>
        {% endfor %}
    </section>
{% endblock %}